h1 {
    color: red;
    font-size: 40px;
    text-align: center;
}

body {
    color: blue;
    font-size: 20;
}

.purple {
    color: purple;
}

input[type="submit"] {
    color: green;
}

form div {
    margin: 10px;
}

#img {
    margin: 15px;
    text-align: center;
}

img[src*="ytimg"] {
    padding-bottom: 20px;
}
